$primary: #f18805;
$secondary: #002366;
$light: #ffffff;
$light2: #ebebeb;
$light3: #87cefa;
$dark: #030303;
$dark2: #1f1f1f;

$success: #27ab27;
$warning: #ffd56c;
$danger: #ff4a40;

$info: #a7e0c3;
$accent: #c6bbff;