@import "../node_modules/commons/styles/common.scss";

$custom-colors: (
	"light2": $light2,
	"acc": $accent,
);

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-height: 100vh;
	background-image: linear-gradient(
		180deg,
		$light -15%,
		$light2 65%,
		$dark 200%
	);
	text-align: center;
}

#root {
	height: 100vh;
	overflow-y: scroll;
}
.modal-backdrop {
	z-index: 10;
}
